*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	height: 110px;
	background: #fff;
	margin-bottom: 30px;
}
.logo{
	height: 45px;
	width: 160px;
	margin-top: 30px;
	margin-left: 250px;
	float: left;
	position: relative;
}
.logo a{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}
.nav{
	float: right;
	height: 100%;
	margin-right: 250px;
}
.nav ul li{
	float: left;
	line-height: 110px;
}
.nav ul li a{
	color: #666;
	padding: 30px;
	position: relative;
}
.nav ul li a:before{
	content: "";
	width: 2px;
	height: 12px;
	position: absolute;
	top: 36px;
	left: 0px;
	background: linear-gradient(to bottom,blue 20%,cyan 40%);
}
.nav ul li:first-child a:before {
	display: none;
}
.nav ul li:hover a{
	color: #21c8be;
}
.banner{
	width: 1200px;
	height: 500px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.banner ul{
	position: absolute;
	bottom: 0px;
	margin-bottom: 30px;
	left: 44%;
}
.banner ul li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	float: left;
	margin-right: 30px;
	border: 2px solid #ccc;
	background: cyan;
	cursor: pointer;
}
.bg{
	background: lightblue!important;
}
.banner img{
	width: 100%;
	height: 500px;
}
.banner button{
	width: 40px;
	height: 70px;
	position: absolute;
	top: 44%;
	font-size: 30px;
	background: none;
	border: none;
	color: #ccc;
}
.banner .you{
	right: 0px;
	margin-right: 30px;
}
.banner .zuo{
	left: 0px;
	margin-left: 30px
}
.footer{
	border-top: 4px solid #21c8be;
	height: 200px;
}
.fonei{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	font-size: 14px;
	margin-top: 60px;
}
.fonei ol{
	display: flex;
	justify-content: space-around;
}
.fonei a{
	color: #666;
}
.fonei h3{
	line-height: 40px;
}
.fonei > ol > li{
	flex: 1;
}
.guan{
	width: 250px;
	margin-right: 100px;
}
.guan p{
	color: #666;
	line-height: 25px;
	margin-bottom: 15px;
}
.guan a{
	border: 1px solid #ccc;
	padding: 3px 8px;
	margin-top: 15px;
}
.zui{
	width: 200px;
	position: relative;
	margin-right: 140px;
}
.zui div{
	width: 100%;
	margin-top: 10px;
}
.zui div:nth-child(2){
	border-bottom: 1px dashed rosybrown;
	padding-bottom: 10px;
}
.kuai ul{
	display: flex;
	flex-wrap: wrap;
	width: 200px;
}
.kuai ul li{
	width: 50%;
	line-height: 30px;
	text-align: center;
}
.kuai ul li a{
	border: 1px solid #ccc;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
.kuai ul li a:hover{
	color: #efcc18;
}
.shu{
	text-align: center;
}
.shu h2{
	color: #efcc18;
	line-height: 35px;
}
.shu p{
	line-height: 20px;
}
.shu img{
	margin-top: 20px;
}

	


